html {
  /*background-color: #FFFFB4;*/
}

header{
  /*background-image: url('../pics/title_5.jpg');*/
  height: 30vh;
  background-size: contain;
  width: 900px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #79091C;
}

header a{
  text-decoration: none;
  color: white;
  padding: 50px;
}

body {
  background-image: url('../pics/background_1.jpg');
  background-repeat: repeat;
  width: 900px;
  margin: 0px auto;
  font-family: verdana, sans-serif;
  background-attachment: fixed;
}

.content{
  background-color:rgba(255, 255, 255, 0.9);
  margin-top: 0 !important;
  min-height: 70vh; /*has to be changed as soon as footer is changed*/
}

/*would be nice to select all ankers for hover and acitve*/
#menu_reviewer a:hover , #menu_owner a:hover, #search_results_details a:hover, #restaurant_tabs a:hover, .link_to_login a:hover{
  color: grey;
}

#menu_reviewer a , #menu_owner a, #search_results_details a, .link_to_login a{
  text-decoration: none;
  color: black;
}
/*menu*/

#menu_reviewer, #menu_owner{
  float: left;
  margin-top:20px;
  margin-left: 10px;
}

/*#menu_reviewer a:hover , #menu_owner a:hover, #search_results_details a:hover{
  color: grey;
}*/

#menu_reviewer ul, #menu_owner ul {
  list-style-type: none;
}

#menu_reviewer li, #menu_owner li{
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 250px;
}

#menu_logout{
  border: none;
}

/*main*/

.main_menu_oriented{
  margin-top: 20px;
  display: block;
  margin-left: 250px;
  width: 600px;
}

.main{
  display: block;
  padding: 20px;
  padding-left:0;
  margin-left: 300px;
  width: auto;
}

/*above tabs*/

#restaurant_above_tabs{
  margin-left: 300px;
}

#restaurant_name{
  padding: 20px;
}

/*restaurant*/

#restaurant_picture{
  margin-bottom: 20px;
  align: center;
}

/*tabs*/



.tabs{
  display: inline-block;
  width: 100%;
}

.tabs_content{
  border: 1px solid white;
  -webkit-border-top-right-radius: 10px;
  -moz-border-top-right-adius: 10px;
  border-top-right-radius: : 10px;
  margin-bottom: 20px;
  border-bottom: none;
  background-color:rgba(255, 255,255, 1);
  /*background-color:rgba(001, 001,001, 0.05);*/
  /*background-color:rgba(255, 255,250, 1);*/
}

.tabs_content h3{
  display: none;
}

.tab_links:after{
  display:block;
  clear: both;
}

.tab_links li{
  margin: 0px 5px;
  list-style:none;
  float: left;
  width: 135px;
  text-align: center;
  border-right: 1px solid white;
}

.tab_links li:last-of-type{
  border: none;
}

#restaurant_tabs a{
  padding: 10px;
  display: inline-block;
  /*border: 1px solid black;
  border-radius:5px 5px 0px 0px;*/
  /*font-weight:600;*/
  color: black;
  transition: all linear 0.15s;
  text-decoration: none;
  padding-left: 0;
  margin-left: 0;
}

.tabs_active a, .tabs_active a:hover {
  color: black !important; /*why is it possible to change the backgroundcolor, but not the color!?*/
  font-weight:600;

}

.restaurant_tabs_content, .restaurant_tabs_active {
  border: 1px solid white;
  clear: left;
  display: block;
  margin-bottom: 20px;
  height: 400px;
  padding: 20px;
  /*opacity: 1.0 !important;*/
  /*display:none;*/
}

.restaurant_tabs_content{
  display:none;
}

/*tabs content style each*/
#restaurant_info li{
  padding-bottom: 10px;
}

#maps{
  height: 400px;
  width: 100%;
}

.pictures_by_reviewers{
  height: 70px;
  overflow: auto;
}

.pictures_by_reviewers img {
	height: 50px;
	border: 2px solid white;
	padding: 1px;
	margin: 0 10px 10px 0;
}

.pictures_by_reviewers img:hover {
	border: 2px solid black;
	cursor:pointer;
}

.pic_preview img {
	border: 2px solid white;
	padding: 1px;
	max-width: 450px;
  height: 300px;
}

#restaurant_all_reviews{
  overflow: auto;
}

.review{
  border-bottom: 1px solid black;
  padding: 20px;
  height: 120px;
}

.review:last-of-type{
  border-bottom:none;
}

#profile_picture{
  float: left;
  margin-right: 20px;
}

#name, #review_rating, #comment{
  margin-left: 60px;
}

#name, #review_rating{
  padding-bottom: 10px;
}


/*search or myrestaurant results*/
.search_result{
  background-color:rgba(255, 255,255, 1);
  border: 1px solid white;
  -webkit-border-top-right-radius: 10px;
  -moz-border-top-right-adius: 10px;
  border-top-right-radius: : 10px;
  padding: 20px;
  border-bottom: none;
  max-height: 600px;
  overflow: auto;

}

.search_one_result{
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
  height: 200px;


}

.search_one_result:first-of-type{
  padding-top: 0;
}

.search_one_result:last-of-type{
  border-bottom: none;
}

#search_result_picture{
  float: right;
  margin-top: 20px;
  margin-right: 20px;
}

#search_result_name_content{
  text-align: center;
  padding-bottom: 20px;
}

#search_result_name ~ div{
  padding-bottom: 20px;
}

#search_results_details a{
  font-weight: 600;
}

/*add restaurant*/

#add_restaurant_form{
  border: 0.1px solid white;
  -webkit-border-top-right-radius: 10px;
  -moz-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  background-color:rgba(255, 255,255, 1);
}

#add_restaurant h3{
  display: none;
}

#add_restaurant > p{
  font-size: 12px;
  padding-left: 10px;
}

#add_restaurant_form{
  padding: 20px;
}

#add_restaurant_form *{
  margin-bottom: 10px;
}

#restaurant_address *{
  /*border: 0.1px solid black;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;*/
  margin-left: 20px;
}

/*logout/logou*/

.logout_message, .login_message{
  width: 400px;
  border: 0.1px solid white;
  -webkit-border-top-right-radius: 10px;
  -moz-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  padding: 20px;
  margin-left: 250px;
  background-color:rgba(255, 255,255, 1);
}

.logout_blank_box{
  height: 120px;
}

#login_form{
  margin: 15px 0;
}

#login_form > input{
  margin-top: 20px;
}

#link_to_login a{
  text-decoration: none;
  color: black;
}

#login_message h3 {
  text-align: center;
}
