html {
  /*background-color: #FFFFB4;*/
}

header{
  background-image: url('../pics/potentially_title.png');
  height: 200px;
  background-size: contain;
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
  width: 900px;
  margin: 0px auto;
  font-family: verdana, sans-serif;
}

/*would be nice to select all ankers for hover and acitve*/
/*menu*/

#menu_reviewer, #menu_owner{
  margin-top:20px;
  border: 1px solid black;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#menu_reviewer a, #menu_owner a{
  text-decoration: none;
  color: black;


}

#menu_reviewer a:hover , #menu_owner a:hover{
  color: grey;
}

#menu_reviewer ul, #menu_owner ul {
  list-style-type: none;
}

#menu_reviewer li, #menu_owner li{
  color: black;
  padding:10px;
  display: inline-block;
  width: 200px;
  text-align: center;
}

#menu_logout{
  border: none;
}

/*main*/

.main{
  margin-top: 20px;
  width: 900px;
}

/*restaurant*/

#restaurant_picture{
  float: right;
  margin: 20px;
  margin-top: 5px;
}

#restaurant_name{
  text-align: center;
  margin: 20px auto;
}

/*tabs*/

.tabs{
  display: inline-block;
  width: 100%;
}

.tab_links:after{
  display:block;
  clear: both;
}

.tab_links li{
  margin: 0px 5px;
  list-style:none;
  float: left;
  width: 140px;
  text-align: center;
}

#restaurant_tabs a{
  padding: 10px 15px;
  padding-bottom:0
  display: inline-block;
  /*border: 1px solid black;
  border-radius:5px 5px 0px 0px;*/
  /*font-weight:600;*/
  color: black;
  transition:all linear 0.15s;
  text-decoration:none;
  margin-top: 20px;
}

#restaurant_tabs a:hover{
  color:grey;
}

#restaurant_tabs a{
  padding-left:0;
  margin-left:0;
}

.restaurant_tabs_active, #restaurant_all_reviews{
  border: 1px solid black;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  clear: left;
  display: block;
  margin-bottom: 20px;
  height: 400px;
  padding: 20px;
}

.tabs_active a, .tabs_active a:hover {
  color: black !important; /*why is it possible to change the backgroundcolor, but not the color!?*/
  font-weight:600;
}

.restaurant_tabs_content {
  display:none;
}

/*tabs content style each*/
#restaurant_info li{
  padding-bottom: 10px;
}

/*tabs reviews*/
#profile_picture{
  float: right;
}

#one_review{
  border-bottom: 1px solid black;
  padding: 20px;

}

#review_rating{
  clear:left;<
}

/*search or myrestaurant results*/

.search_one_result{
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
  height: 200px;
}

.search_one_result:first-of-type{
  padding-top: 0;
}

.search_one_result:last-of-type{
  border-bottom: none;
}

#search_result_picture{
  float: right;
}

#search_result_name_content{
  text-align: center;
  padding-bottom: 20px;
}

#search_result_name ~ div{
  padding-bottom: 20px;
}

/*add restaurant*/

#add_restaurant_form{
  border: 0.1px solid black;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#add_restaurant > p{
  font-size: 12px;
  padding-left: 10px;
}

#add_restaurant_form{
  padding: 20px;
}

#add_restaurant_form *{
  margin-bottom: 10px;
}

#restaurant_address *{
  /*border: 0.1px solid black;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;*/
  margin-left: 20px;
}

/*logout*/

.logout_message{
  width: 400px;
  border: 0.1px solid black;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 20px;
  margin-top: 100px;
  margin-left: 250px;
}

#link_to_login a{
  text-decoration: none;
  color: black;
}
