html {
  /*background-color: #FFFFB4;*/
}

header{
  background-image: url('../pics/random_1.png');
  height: 300px;
  background-size: contain;
}

body {
  width: 900px;
  margin: 0px auto;
  font-family: verdana, sans-serif;
}

/*would be nice to select all ankers for hover and acitve*/
/*menu*/

#menu_reviewer, #menu_owner{
  float: left;
  margin-top:20px;
}

#menu_reviewer a, #menu_owner a{
  text-decoration: none;
  color: black;
}

#menu_reviewer a:hover , #menu_owner a:hover{
  color: grey;
}

#menu_reviewer ul, #menu_owner ul {
  list-style-type: none;
}

#menu_reviewer li, #menu_owner li{
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 250px;
}

#menu_logout{
  border: none;
}

/*main*/

.main{
  margin-top: 20px;
  float: right;
  width: 600px;
}

/*restaurant*/

#restaurant_picture{
  margin-top: 20px;
}

/*search or myrestaurant results*/

.search_one_result{
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
  height: 200px;
}

.search_one_result:first-of-type{
  padding-top: 0;
}

.search_one_result:last-of-type{
  border-bottom: none;
}

#search_result_picture{
  float: right;
}

#search_result_name_content{
  text-align: center;
  padding-bottom: 20px;
}

#search_result_name ~ div{
  padding-bottom: 20px;
}

/*add restaurant*/

#add_restaurant_form{
  border: 0.1px solid black;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#add_restaurant > p{
  font-size: 12px;
  padding-left: 10px;
}

#add_restaurant_form{
  padding: 20px;
}

#add_restaurant_form *{
  margin-bottom: 10px;
}

#restaurant_address *{
  /*border: 0.1px solid black;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;*/
  margin-left: 20px;
}

/*logout*/

.logout_message{
  width: 400px;
  border: 0.1px solid black;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 20px;7
  margin-top: 100px;
  margin-left: 250px;
}

#link_to_login a{
  text-decoration: none;
  color: black;
}
