<!DOCTYPE html>
<html>

<head>
    <title>Pintereste - Login</title>
    <meta charset="UTF-8">
    <!--<link rel="stylesheet" href="style.css">-->

</head>

<body>

    <section class="loginBox">
        <div class="login">
            <h1>Register</h1>
            <form action="register.php" method="POST">
				        <input type="text" name="name" placeholder="Name"/>
                <input type="text" name="username" placeholder="Username"/>
                <input type="password" name="password" placeholder="Password"/>
                <input type="password" name="confirm" placeholder="Confirm your password"/>
                <input type="email" name="email" placeholder="Email"/>
                <input type="submit" value="Register"/>
            </form>
        </div>

    </section>

</body>

<script>
$('form').submit(function () {
  var username = $.trim($('input[name="username"]').val());
	var name = $.trim($('input[name="name"]').val());
  var confirm = $.trim($('input[name="confirm"]').val());
	var password = $.trim($('input[name="password"]').val());
    if (user === '') {
        alert('Please choose a username.');
        return false;
    }
    if (pass === '') {
        alert('Please write a password.');
        return false;
    }
    if (pass !== confirm) {
        alert('Password does not match the confirmation field.');
        return false;
    }
});
</script>


</html>
